:root{
    --verydarkblue: #172531;
    --darkblue: #203344;
    --blue: #294257;
    --lightblue: #456f93;
    --verylightblue: #9bb7d0;
    --white: #f0f4f8;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
    color: var(--white);
    line-height: 1.5;
}

body p{
    margin: 10px auto;
}

section{
    padding: 30px;
}

h2{
    font-size: 36px;
    text-shadow: 1px 1px 5px black;
}

.section-title{
    text-align: center;
}

/* Header CSS */
.section-header{
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--verydarkblue);
    color: white;
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-shadow: 0 0 5px black;
}

.section-header h1{
    font-size: 44px;
}

.section-header h1:hover{
    color: var(--verylightblue)
}

.header-shortcuts{
    display: flex;
    flex-wrap: wrap;
}

.header-shortcut{
    margin: 20px;
}

.header-shortcut a{
    color:white;
    text-decoration: none;
}

.header-shortcut a:hover{
    color: var(--verylightblue);
}

/* Hero/Bio Css */

.section-about-me{
    background-image: url(../images/bio-bg.jpg);
    background-size: cover;
    background-position: center;
}

.section-about-me h2{
    text-align: center;
}

.bio-content{
    display: flex;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
    width: min-content;
    background-color: rgba(41, 66, 87, .75);
    border: solid 3px var(--verydarkblue);
    border-radius: 10px;
}

.hero-img{
    width: 300px;
    margin: 20px 35px 20px 20px;
    border-radius: 5px;
}

.hero-text{
    width: 300px;
    margin: 20px 35px 20px 20px;
}

/* Projects CSS */

.section-projects{
    background-color: var(--lightblue);
}

.project-container{
    margin: 30px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-project, .secondary-project{
    margin: 20px 20px;
    text-align: center;
    border: 3px var(--darkblue) solid;
    padding: 20px;
    background-color: var(--blue);
}

.main-project-img{
    max-width: 800px;
    border: 3px var(--verydarkblue) solid;
}

.secondary-project-img{
    max-width: 400px;
    border: 3px var(--verydarkblue) solid;
}

/* Contact Section */

.section-contact{
    background-color: var(--verydarkblue);
}

.contact-box{
    margin:20px;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: stretch;
    height: 100%;
}

.contact-box h3{
    font-style: italic;
    color: var(--verylightblue);
}

.contact-primary-methods, .contact-form{
    background-color: var(--darkblue);
    padding: 20px;
    margin: 0 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.contact-primary-methods{
    align-items: center;
}

.contact-primary-methods h3{
    margin-right: 10px;
}

.contact-email, .contact-phone{
    display: flex;
}

.contact-primary-methods a{
    color: var(--white)
}

.contact-primary-methods a:hover{
    color: var(--verylightblue)
}

.input-box{
    text-align: center;
    margin: 10px 0;
}

.contact-form h3{
    text-align: center;
    margin-bottom: 10px;
}

.contact-form h4{
    margin-bottom: 20px;
    color: var(--white);
    margin: 0;
    font-style: italic;
}

.input-box input, .input-box textarea{
    background-color: var(--verylightblue)
}
