:root{
    --verydarkblue: #172531;
    --darkblue: #203344;
    --blue: #294257;
    --lightblue: #456f93;
    --verylightblue: #9bb7d0;
    --white: #f0f4f8;
}

*{
    box-sizing: border-box;
    margin: 0;
}

.btn {
    background-image: linear-gradient(var(--verydarkblue),var(--lightblue));
}

/* Overwrite bootstrap values */

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    margin-bottom: 0;
    font-weight: bold;
    line-height: 1.5;
}

body{
    font-family: 'Times New Roman', Times, serif;
    color: var(--white);
    line-height: 1.5;
    background-color: var(--verydarkblue);
}

body p{
    margin: 10px auto;
}

section{
    padding: 30px;
    margin: 3px auto;
    border-radius: 20px;
    border: black 2px solid;
}

h2{
    font-size: 36px;
    text-shadow: 1px 1px 5px black;
}

.section-title{
    text-align: center;
}

/* Header CSS */
.section-header{
    z-index: 999999;
    padding: 10px 35px;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(var(--verydarkblue),var(--lightblue));
    color: white;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
    text-shadow: 0 0 20px black;
    width:100%;
    border-bottom: var(--verydarkblue) 2px solid;
}

.section-header h1{
    font-size: 44px;
}

.section-header h1:hover{
    color: var(--verylightblue);
}

.dropdown-menu{
    min-width: 0;
}

.dropdownmenu button{
    color: var(--verylightblue) !important;
}

#dropdownMenuButton:hover{
    color: white !important;
}

.header-shortcuts{
    margin-left: 35px;
}

.header-shortcuts button{
    color:#f0f4f8;
    font-size: 30px;
    background-image: linear-gradient(var(--verydarkblue),var(--lightblue));
}

.header-shortcuts div a{
    color:white;
    text-align: center;
    font-size: 25px;
}

.dropdown-menu{
    background-image: linear-gradient(var(--verylightblue),lightgray);
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.dropdown-item:hover{
    text-shadow: none;
}

.header-shortcut{
    text-shadow: black 0 0 10px;
}

.header-shortcut a h2:hover{
    color: var(--verylightblue);
}

/* Hero/Bio Css */

.section-about-me{
    background-image: url(../images/bio-bg.jpg);
    background-size: cover;
    background-position: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
    border-top: 0;
}

.section-about-me h2{
    text-align: center;
}

.bio-content{
    display: flex;
    margin: 30px auto;
    justify-content: center;
    width: min-content;
    align-items: center;
    background-image: linear-gradient(rgb(23, 37, 49, .75),rgb(69, 111, 147, .75));
    border: solid 3px var(--verydarkblue);
    border-radius: 10px;
}

.hero-img{
    width: 300px;
    margin: 20px 35px 20px 20px;
    border-radius: 5px;
}

.hero-text{
    width: 300px;
    margin: 20px 35px 20px 20px;
}

.hero-text p{
    margin: 20px auto;
    text-shadow: 0 0 20px black;
}

/* Skills CSS */
.section-skills{
    background-image: linear-gradient(var(--verylightblue),silver);
}

.skills-container{
    display: flex;
    justify-content: center;
}

.skills-scroller{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill{
    text-align: center;
    margin: 20px 30px;
    border-radius: 20px;
    border: var(--verydarkblue) 2px solid;
    background-image: linear-gradient(var(--verylightblue),white);
    display: inline-block
}

.skill h3{
    background-image: linear-gradient(var(--verydarkblue), var(--blue));
    padding: 10px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border: var(--verydarkblue) 3px solid;
    text-shadow: black 0 0 10px;
    white-space: nowrap;
}

.skill i:before{
    display: initial;
}

.skill i{
    font-size: 100px;
    display: inline-block;
    padding: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: linear-gradient(var(--verydarkblue), var(--lightblue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.modal-title{
    color: var(--blue);
}

.modal-content{
    background-image: linear-gradient(var(--verylightblue), silver);
}

.modal-body{
    display: flex;
    overflow: auto;
    margin: 20px;
}

.close{
    border: 0;
    font-size: large;
    font-weight: bolder;
    color:white;
}

.skills-close-btn{
    margin: 5px auto;
}

/* Projects CSS */

.section-projects{
    background-image: linear-gradient( var(--blue), var(--verylightblue));
}

#projects-tooltip-btn{
    background-image: linear-gradient(var(--verydarkblue),var(--lightblue));
    height: 30px;
    width: 30px;
    padding: 0;
    font-size: large;
    justify-self: right;
    position: absolute;
}

.projects-title{
    position: relative;
}

.arrow{
    content: " ";
    position: absolute;
    top: 100% !important;
    right: 50%; /* To the left of the tooltip */
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent;
}

.tooltip{
    top: -10px !important;
    padding: 0;
}

.project-container{
    margin: 30px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project{
    margin: 20px;
    border: black 2px solid;
    border-radius: 10px;
}

.project img{
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.btn-holder{
    justify-self: flex-end;
    display: flex;
    justify-content: space-between;
}

.project-btn{
    color: white;
    background-image: linear-gradient(var(--blue),var(--lightblue));
}

.card-body{
    display: flex;
    flex-direction: column;
    background-color: var(--verydarkblue);
    text-align: center;
}

.card-body p{
    flex-grow: 3;
}

/* Links section */

.section-links{
    background-image: linear-gradient(var(--darkblue), var(--verylightblue));
}

.link-cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
}

.github-user-card, .linkedin-card{
    margin: 10px 30px;
}

.badge-base iframe{
    height: 242px;
    width: 251px;
}

.user-card{
    background-image: linear-gradient(var(--verydarkblue), var(--lightblue));
    width: 260px;
}

.user-card-icon{
    font-size: 30px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.user-card-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-card-body h3 a{
    text-decoration: none;
}

.user-card-body h3 a{
    text-decoration: none;
    color: white;
}

.btn a:hover, .btn:hover{
    text-decoration: none;
    color: var(--verylightblue);
}

.github-avatar{
    border-radius: 50%;
    margin: 10px;
    height: 100px;
    width: 100px;
    position: relative;
    margin: 10px auto;
}

.span-holder{
    margin: 10px;
    background-color: var(--blue);
}

.span-holder span{
    margin: 5px 10px;
}

/* Contact Section */

.section-contact{
    background-image: linear-gradient(var(--verydarkblue),var(--lightblue));
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.contact-box{
    margin:20px;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: stretch;
    height: 100%;
}

.contact-box h3{
    font-style: italic;
    color: var(--verylightblue);
}

.contact-primary-methods, .contact-form{
    background-image: linear-gradient(var(--darkblue),var(--blue));
    padding: 20px;
    margin: 0 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    border: var(--blue) 3px solid;
}

.contact-primary-methods{
    align-items: center;
    border: var(--blue) 3px solid;
}

.contact-primary-methods h3{
    margin-right: 10px;
}

.contact-email, .contact-phone{
    display: flex;
}

.contact-primary-methods a{
    color: var(--white)
}

.contact-primary-methods a:hover{
    color: var(--verylightblue)
}

.input-box{
    text-align: center;
    margin: 10px 0;
}

.contact-form h3{
    text-align: center;
    margin-bottom: 10px;
}

.contact-form h4{
    margin-bottom: 20px;
    color: var(--white);
    margin: 0;
    font-style: italic;
}

.input-box input, .input-box textarea{
    background-color: var(--verylightblue)
}

/* Cutom scroll bar */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-image: linear-gradient(var(--verylightblue),silver);
    border-radius: 10px;
    border: var(--verydarkblue) 2px solid;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(var(--blue), var(--lightblue));
    border-radius: 10px;
    border: var(--verydarkblue) 2px solid;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--blue);
  }

@media screen and (max-width:1265px){
    .skills-container{
        display: flex;
        flex: 1;
        overflow: auto;
        justify-content: start;
    }

    .skills-scroller{
        flex-wrap: nowrap;
        min-width: min-content;
    }
}

@media screen and (max-width:993px) {
    .bio-content{
        flex-wrap: wrap;
        text-align: center;
    }

    .bio-content p{
        margin: 0 0 10px 0;
    }

    .hero-img, .hero-text{
        width: 400px;
        margin: 20px;
    }

    .skills-container{
        display: flex;
        flex: 1;
        overflow: auto;
        justify-content: start;
    }

    .skills-scroller{
        flex-wrap: nowrap;
        min-width: min-content;
    }
}

@media screen and (max-width:768px) {
    
    .section-header h1{
        font-size: 36px;
    }

    .header-shortcuts button{
        font-size: 20px;
    }

    .header-shortcut{
        font-size: 20px !important;
    }
    
    .hero-img, .hero-text{
        width: 300px;
    }

    .contact-box{
        flex-wrap: wrap;
    }

    .contact-form{
        margin-top: 20px;
    }
}

@media screen and (max-width:575px) {
    .section-projects{
        padding: 0;
    }

    .project-container{
        margin: 30px 0 0 0;
    }
}

@media screen and (max-width: 425px){
    .hero-img, .hero-text{
        width: 200px;
    }
}

@media screen and (max-width: 310px){
    .bio-content{
        width: 90%;
    }
    .hero-img, .hero-text{
        width: 90%;
    }
}