:root{
    --verydarkblue: #172531;
    --darkblue: #203344;
    --blue: #294257;
    --lightblue: #456f93;
    --verylightblue: #9bb7d0;
    --white: #f0f4f8;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Overwrite bootstrap values */

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    margin-bottom: 0;
    font-weight: bold;
    line-height: 1.5;
}

body{
    font-family: 'Times New Roman', Times, serif;
    color: var(--white);
    line-height: 1.5;
}

body p{
    margin: 10px auto;
}

section{
    padding: 30px;
    border-bottom: #172531 3px solid;
}

h2{
    font-size: 36px;
    text-shadow: 1px 1px 5px black;
}

.section-title{
    text-align: center;
}

/* Header CSS */
.section-header{
    padding: 10px 35px;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(var(--verydarkblue),var(--lightblue));
    color: white;
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-shadow: 0 0 20px black;
    width:100%;
    border-bottom: var(--verydarkblue) 2px solid;
}

.section-header h1{
    font-size: 44px;
}

.section-header h1:hover{
    color: var(--verylightblue)
}

.header-shortcuts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-shortcut{
    margin: 20px;
}

.header-shortcut a{
    color:white;
    text-decoration: none;
}

.header-shortcut a:hover{
    color: var(--verylightblue);
}

/* Hero/Bio Css */

.section-about-me{
    background-image: url(../images/bio-bg.jpg);
    background-size: cover;
    background-position: center;
}

.section-about-me h2{
    text-align: center;
}

.bio-content{
    display: flex;
    margin: 30px auto;
    justify-content: center;
    width: min-content;
    align-items: center;
    background-image: linear-gradient(rgb(23, 37, 49, .75),rgb(69, 111, 147, .75));
    border: solid 3px var(--verydarkblue);
    border-radius: 10px;
}

.hero-img{
    width: 300px;
    margin: 20px 35px 20px 20px;
    border-radius: 5px;
}

.hero-text{
    width: 300px;
    margin: 20px 35px 20px 20px;
}

.hero-text p{
    margin: 20px auto;
    text-shadow: 0 0 20px black;
}

/* Skills CSS */
.section-skills{
    background-image: linear-gradient(var(--verylightblue),silver);
}

.skills-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill{
    text-align: center;
    margin: 20px 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: var(--verydarkblue) 2px solid;
    background-color: var(--verylightblue);
}

.skill h3{
    background-color: var(--verydarkblue);
    padding: 10px;
}

.skill i{
    font-size: 100px;
    color: var(--verydarkblue);
    display: inline-block;
    padding: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--verylightblue);
}

/* Projects CSS */

.section-projects{
    background-image: linear-gradient( var(--blue), var(--verylightblue));
}

.project-container{
    margin: 30px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-project, .secondary-project{
    margin: 20px 20px;
    text-align: center;
    border: 3px var(--darkblue) solid;
    padding: 20px;
    background-image: linear-gradient(var(--darkblue),var(--lightblue));
}

.main-project-img{
    max-width: 800px;
    border: 3px var(--verydarkblue) solid;
}

.secondary-project-img{
    max-width: 400px;
    border: 3px var(--verydarkblue) solid;
}

/* Contact Section */

.section-contact{
    background-image: linear-gradient(var(--verydarkblue),var(--lightblue));
}

.contact-box{
    margin:20px;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: stretch;
    height: 100%;
}

.contact-box h3{
    font-style: italic;
    color: var(--verylightblue);
}

.contact-primary-methods, .contact-form{
    background-image: linear-gradient(var(--darkblue),var(--blue));
    padding: 20px;
    margin: 0 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    border: var(--blue) 3px solid;
}

.contact-primary-methods{
    align-items: center;
    border: var(--blue) 3px solid;
}

.contact-primary-methods h3{
    margin-right: 10px;
}

.contact-email, .contact-phone{
    display: flex;
}

.contact-primary-methods a{
    color: var(--white)
}

.contact-primary-methods a:hover{
    color: var(--verylightblue)
}

.input-box{
    text-align: center;
    margin: 10px 0;
}

.contact-form h3{
    text-align: center;
    margin-bottom: 10px;
}

.contact-form h4{
    margin-bottom: 20px;
    color: var(--white);
    margin: 0;
    font-style: italic;
}

.input-box input, .input-box textarea{
    background-color: var(--verylightblue)
}

@media screen and (max-width:1200px){
    .header-shortcut{
        margin: 0 20px;
    }
    
    .section-header{
        justify-content: center;
    }
}

@media screen and (max-width:980px) {
    .bio-content{
        flex-wrap: wrap;
        text-align: center;
    }

    .bio-content p{
        margin: 0 0 10px 0;
    }

    .hero-img, .hero-text{
        width: 400px;
        margin: 20px;
    }

    .main-project, .main-project img{
        max-width: 95%;
    }
    
    .secondary-project, .secondary-project-img{
        max-width: 70%;
    }
}

@media screen and (max-width:768px) {
    .section-header h1{
        font-size: 36px;
    }

    .header-shortcut h2{
        font-size: 30px;
    }
    
    .hero-img, .hero-text{
        width: 300px;
    }

    .contact-box{
        flex-wrap: wrap;
    }

    .contact-form{
        margin-top: 20px;
    }
}

@media screen and (max-width:575px) {
    .section-header{
    }
    
    .section-projects{
        padding: 0;
    }

    .project-container{
        margin: 30px 0 0 0;
    }
}

@media screen and (max-width: 425px){
    .hero-img, .hero-text{
        width: 200px;
    }
}

@media screen and (max-width: 310px){
    .bio-content{
        width: 90%;
    }
    .hero-img, .hero-text{
        width: 90%;
    }
}